.container {
  background-color: #e8e8e8;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel {
  z-index: 0;
}

.animationInfo {
  opacity: 1;
  animation: ltr 1s normal;
}
#infoSensorEsp32 p {text-indent: 1.5px;}

@keyframes ltr {
  0% {
    opacity: 0.5;

    transform: translateX(-70px);
  } 

  100% {
    opacity: 0.9;
    transform: translateX(0);
  }
}
.printDataSensor{
  opacity: 0;
}
.printDataSensorAnimation {
  opacity: 1;
  animation: senAnimation 1s ease-in;
}

@keyframes senAnimation {
  0% {
    opacity: 0.5;
    transform: translateY(-70px);
  } 

  100% {
    opacity: 0.9;
    transform: translateY(0);
  }
}
.infoSensorEsp32{
  opacity: 0;
}
.printinfoEsp32Animado {
  opacity: 1;
  animation: esp32Animation 1s ease-in;
}

@keyframes esp32Animation {
  0% {
    opacity: 0.5;
    transform: translateX(-70px);
  } 

  100% {
    opacity: 0.9;
    transform: translateX(0);
  }
}

.svgRender{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  padding: 4rem;
}

.footer{
  background-color: #1D293F;
}

.footer__title{
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 30px;
}

.footer__title, .footer__newsletter{
  color: #de513b;
}


.footer__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
  padding-bottom: 60px;
}

.nav--footer{
  padding-bottom: 20px;
  display: grid;
  gap: 1em;
  grid-auto-flow: row;
  height: 100%;
}

.nav__link--footer{
  display: flex;
  margin: 0;
  margin-right: 20px;
  flex-wrap: wrap;
}

.footer__inputs{
  margin-top: 10px;
  display: flex;
  overflow: hidden;
}

.footer__input{
  background-color: #fff;
  height: 50px;
  display: block;
  padding-left: 10px;
  border-radius: 6px;
  font-size: 1rem;
  outline: none;
  border: none;
  margin-right: 16px;
}

.footer__submit{
  margin-left: auto;
  display: inline-block;
  height: 50px;
  padding: 0 20px ;
  background-color: #de513b;
  border: none;
  font-size: 1rem;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}

.footer__copy{
  --padding-container: 30px 0;
  text-align: center;
  color: #fff;
}

.footer__copyright{
  font-weight: 300;
  color: #de513b;
}

.footer__icons{
  margin-bottom: 10px;
}

.footer__img{
  width: 30px;
}
